*{
    margin: 0;
    padding: 0;margin: 0;
    
}
.box1{
    height: 37rem;
    width: 71.5rem;
    background-color: rgb(3, 3, 65);
    color: white;
}
 
.MyIntro{
     margin-top: 4rem;
     margin-left:5rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: larger;
}

.MyIntro img{
    display: flex;
    float: right;
    margin-right: 120px;
    
}
.MyIntro button{
    height: 2.5rem;
    width: 9rem;
    cursor: pointer;


    background-color: red;
    color: white;
    border-radius: 1rem;
}

.MyIntro button:hover{
    border-color:white;
}
 
.box2{
    height: 30rem;
    width: 71.5rem;
    background-color: bisque;
}
.box2 img{
    display: inline-block;
    position: relative;
    left: 10rem;
    top: 4rem;
}
.box2 .b1{
    position: relative;
    left: 26rem; 
    width: 33rem;
    top: 4rem;
    display: inline-block;
}
.box2 #bh1{
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box2 #bp1{
    font-size:130% ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.box3{
    width: 71.5rem;
    height: 25rem;
    
}

.box3 .b1{
    position: relative;
    left: 3rem;
    top: 2rem;
    height: 15rem;
    width: 28rem;
    display: inline-block;
   
}
.box3 .b2 {
    position: relative;
    top: 5rem;
    left: 12rem;
    display: inline-block;
  
}
.box3 #bh1{
    font-size: 320%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box3 #bp1{
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
 
 

 

